# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.8, 3.9, "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Lint with flake8
      run: |
        pip install -U flake8
        flake8 . --max-line-length=127
    - name: Verify sorted imports
      run: |
        python -m pip install isort
        isort . -m HANGING_INDENT -l 120 --check-only
    - name: Test install
      run: |
        python3 -m pip install .
    - name: Test show usage
      run: |
        python -m cfprefsmon --help